<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134205888-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-134205888-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Monoski">
    <meta name="keywords" content="Skidåkning, Monoski, Monoskida, Duret, BestBoard, SnowGunz, AluFlex, Snö, Stavar, Snowboard, Alpinbräda, Slalom, Alpin, Snow, Winter, Real Vikings Monoski, ski, skiing">
    <meta name="author" content="Monoski.nu">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/monoski.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>
