
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li {% if page.activeMenu == 'About' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
              <a class="nav-link" href="{{ "/About" | prepend: site.baseurl }}">About</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>